.game1 {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 3%;
    padding: 0 5%;
    margin-left: 3%;
}

.content1.game1,
.vers_1 {

    justify-content: space-around;
    overflow: auto;
    width: 90%;
    height: 100%;
    max-height: 500px;
    /* width: 100%; */
    display: flex;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
    padding: 10px 0px;
    box-sizing: border-box;

}

.content1.game1,
.vers_4 {
    justify-content: space-around;
    overflow: auto;
    width: 90%;
    height: 100%;
    max-height: 500px;
    /* width: 100%; */
    display: flex;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
    padding: 10px 0px;
    box-sizing: border-box;
}


.game_mode {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow:
        1px 1px 0 #3992A5,
        -1px -1px 0 #3992A5,
        1px -1px 0 #3992A5,
        -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    text-align: center;
}

.vers_1 .vss_1 {
    display: flex;
    justify-content: center;
    width: 59%;
    /* height: 16%; */
    padding-left: 22%;
}




.local_remote {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    justify-content: space-around;
    /* justify-content: space-around;
    justify-content: space-between;
 */
}


.loca {
    width: 120px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #453827;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

}



.remo {
    width: 120px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #453827;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

}


.to_4 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sig_game ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.click_vers {
    display: flex;
    justify-content: center;
}

.to_4 ul li my-link,
.vss_4 {

    width: 53%;
    height: 46%;
    padding-top: 10%;

}



.vers_1 .sig_game,
.clc_game {
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 0 #3992A5, -1px -1px 0 #3992A5, 1px -1px 0 #3992A5, -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    text-align: center;

}


.vers_1 .sig_game,
.single_game {

    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #3992A5;
    text-align: center;
}


.vers_4 .to_4,
.tous_4 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 0 #3992A5, -1px -1px 0 #3992A5, 1px -1px 0 #3992A5, -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    text-align: center;
}


.vers_4 .to_4,
.tous_plys {
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #3992A5;
    text-align: center;
}


.ca1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgplyer {
    width: 22%;
}



.player-con {

    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
    padding: 40px;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
}

.btn-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin-left: 47%;

}

.cancel1 {
    width: 120px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 3%;
}

.accept1 {
    background-color: #3992A5;
}

.cancel1 {
    background-color: #453827;
   
}

.imgplyer1 {
   
    width: 120px;
    height: 127px;
}

.imgplyer2 {
    

    width: 120px;
    height: 127px;
}

.player1 .us1 {
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 10px;
}

.player1 {
    margin-left: 36%;
}

.player2 .us2 {
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 10px;
    /* padding: 0 5px; */
}



.round-con {

    /* width: 90%;
    max-width: 900px; */

    width: 100%;
    max-width: 1134px;
    height: 75%;
    /* height: 85%; */
    /* margin-left: 5%; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    /* justify-content: space-between; */
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.round {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    height: 100%;
}


.mutch1 {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.player {

    display: grid;
    grid-template-columns: auto auto 1fr;
    /* grid-template-rows: 25px 25px 25px; */
    /* grid-template-rows: 260px;
    column-gap: 5%; */

    /* margin: 10px 0; */

    width: 230px;
    height: 62px;
    background-color: #3992A5;
    border-radius: 8px 8px 8px 8px;
    /* margin-bottom: 9px; */
}

.player,
.plyer_tour,
.us1,
.score {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .player,
.score
{
    display: flex;
    justify-content:space-around;
} */

/* .winner {

   
} */


.plyer_tour {
    width: 49px;
    height: 44px;
    border-radius: 15px;
    margin-left: 3%;
    /* margin-top: 4%; */


}

.plyer_tour1 {
    width: 49px;
    height: 44px;
    border-radius: 15px;
}

.star {
    width: 50px;
    height: 35px;
    /* margin-bottom: -6%; */
}


.us1 {
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-right: 20%;

}

.us2 {
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.score {
    font-weight: 700;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}


.match3 {
    /* align-self: center; */
    /* margin-left: 10%; */
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.winner {
    /* width: 100%; */
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100px;
    height: 99px;
    /* width: 107px;
    height: 99px; */
    background-color: #3992A5;
    border-radius: 20px 20px 20px 20px;
  

    /* margin-left: 14%; */

}

/* .winner
{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
} */

.muth_4 {
    /* margin-right: 20%; */
    /* width: 100%; */
    height: 100%;
    display: flex;

    justify-content: space-around;
    flex-direction: column;
    /* margin-left: 14%; */
    width: 100%;
}



.plyer_tour3 {
    width: 49px;
    height: 44px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}




.match1::before,
.match2::before,
.match3::before {
    content: "";
    border: #453827 6px solid;
    border-left: none;
    height: 50%;
    width: 100%;
    position: absolute;
    translate: 0 -50%;
    top: 50%;
    z-index: -1;
}


.match1::before,
.match2::before {
    /* width: 70%; */
    width: 95%;
    position: absolute;
}

.match3::before {
    width: calc(130% + 50px);
    translate: 0 -50%;
    left: -30%;
    position: absolute;
}


.match1,
.match2,
.match3,
.winner
{
    position: relative;
}

.match1,
.match2 {
    gap: 15px;
    display: flex;
    flex-direction: column;

}

.Champion
{
    /* width: 50px;
    height: 35px; */

    width: 100px;
    /* height: 92px; */

    height: 100px;
}

.round {
    isolation: isolate;
}


/* .linge
{
    content: "";
    border: #453827 4px solid;
    /* border-left: none; */
    /* width: 8%; */
    /* height: 51%; */
    /* position: absolute; */
    /* translate: 0 -50%; */
    /* top: 50%; */
    /* z-index: -1; */


/* .match3::after {
    content: "";
    border: #000 5px solid;
    border-right: none;
     width: 150%;
     width: 12%; 
    height: 10%;
     position: absolute;
    translate: 0 -50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    margin-top: -9%;  
}
     */

.win_up{
    width: fit-content;
}