/* body {
    margin: 0;
}

.score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.player {
    display: flex;
    gap: 1rem;
} */

/* body_game { 
    margin: 0; 
    overflow: hidden; 
    background-color: #000;
    font-family: Arial, sans-serif;
} */
#score-container {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    padding: 20 -20px;
}
#connection-status {
    position: absolute;
    bottom: 10px;
    width: 100%;
    /* left: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#player-side {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 0);
    font-size: 24px;
}

/* #body_game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2e;
    font-family: Arial, sans-serif;
    margin: 0;
  } */

.card {
display: flex;
align-items: center;
background: linear-gradient(145deg, #2e2e3e, #1c1c2a);
border-radius: 20px;
padding: 20px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pp {
text-align: center;
margin: 0 20px;
}

.pp img {
width: 100px;
height: 100px;
border-radius: 50%;
border: 3px solid #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pp p {
margin-top: 10px;
color: #fff;
font-size: 16px;
font-weight: bold;
}

.vs {
font-size: 24px;
font-weight: bold;
color: #ff4d4d;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
