
/* .body-home .content .header_1
{
    padding-top: 2%;
} */

.tournam_profile .user-info
{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100px 1fr auto;

}




.tournam_profile
{
    margin-top: 50px;
    position: relative;
    width: 80%; 
    height: 140px;
    padding: 60px 10px 10px 10px;

}

/*classe -> user-info=> transform: translate(x, y);=> x is the horizontal movement (left/right).
                                 y is the vertical movement (up/down).
    The element is moved up by 50% of its own height (-50% on the Y-axis). 
    The negative value indicates upward movement.
*/
.user-info
{
    position: absolute;
    top:0;
    left: 0;
    translate: 0 -50%;
}

 /* plus importent  grid*/
.user-info .firstL 
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0 10px;
}

.user-info .username {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 0 10px;
    margin: 0;
}

.user-info .joined
{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

/* fin plus griid */

.tournaments
{   
    width: 90%;
    /* height: 40px; */
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    column-gap: 2%;

}

.header_1 .tournam_profile .user-info .firstL
{

   color: white;
   font-size: 20px;
   font-family: "Roboto", sans-serif;
    font-weight: 900;
   text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;

}

.img_prof_2
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.user-info
{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0 5%;
}


.header_1 .tournam_profile .user-info .joined
{
   color: white;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-size: 14px;

}

/* solution ldak div bech isghiir */
.header_1
{
    display: flex;
    column-gap: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.header_1 .tournam_profile .user-info .username
{
   color: white;
   font-family: "Roboto", sans-serif;
    font-weight: 400;
   font-size: 14px;

}


.img_prof_2 .prof_1
{
    width: 100%; 
    height: 100%;
    border-radius: 15px;
    margin-top: 0px;
    
}


.img_prof_2 
{
    position: relative;
}


.header_1 .img_prof_2 .online-status_1
{

    width: 25px;
    height: 25px;
    background-color:#37C25E; 
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
}

.tourn
{
   
    width: 100%;
    /* height: 100%; */
    padding: 5px;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));

}

.tournaments .tourn
{
    padding: 10px;
    font-size: 14px;
    text-align: center;
}



.t1
{
    color: white;
   font-family: "Roboto", sans-serif;
   font-size: 30px;
   font-weight: 700;
   text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5; 
}

.t2
{
    color: white;
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   padding-bottom: 5px;
}

.tournam_profile .tourn_playe .tournaments
{
    display: flex;
    flex-direction: row;
  
}


.tournam_profile
{
    width: 96%;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
}


.progress_2
{
    width: 76%;
    height: 4px;
    top: 20%;
    text-align: center;
    background-color: #453827;
    border-radius: 4px;
    position: relative;
    margin-left: 12%;
}

.progress_2::before
{

    content: "";
    display: block;
    width: var(--xp);
    height:100%;
    background-color: #3992A5;

}

.message-btn_1:hover
{
    background: #34291c;
}

.xp2
{

    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
 
    position: absolute;
    top:0;
    left: 0;
    translate: 0 -100%;
   
}

.level2 {

    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top:0;
    right: 0;
    translate: 0 -100%;
}


/* fin */


.p2
{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    padding: 0 5%;  /* padding left and rghit l parent  not chaild*/
   
}

.modal .fade .hidden-scrollbar
{
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.box_p2
{
    overflow: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
    box-sizing: border-box;
    padding: 5px 10%;
}

.meg:hover {
    background: #34291c;
}


.Friend_list 
{
    width: 100%;
   
}


.header_1
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 260px;

}

.leader_1
{

    display: grid;

    
    grid-template-columns: auto 1fr  1fr;
    grid-template-rows: 25px 25px;
    column-gap: 5%;
    margin: 10px 0;
 

}
  


.leader_1 img,
.leader_1 .add-friend-btn {
    display:  flex;
    align-items: center;
    justify-content: center;
}

.leader_1 .leader-name_1,
.leader_1 .leader-username_1 {
    display:  flex;

}


.leader_1 img
{
    grid-row-start: 1;
    grid-row-end: -1;
}

.leader_1 .leader-name_1 {
    align-items: center;
    grid-row-start: 1;
}

.leader_1 .leader-username_1 {
    align-items: flex-start;
    grid-row-start: 2;
}

/* 2 => grid-row-end: -1;*/
.leader_1 .add-friend-btn_1 {
    grid-row-start: 1;
    grid-row-end: -1;
}

/* */
.leader_1 .img_leader1
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    


}

.leader-name_1
{
    color: white;
    display: flex;
    flex-direction: row;
    font-weight: bold;

}

.leader-username_1
{
   
    color: #828282;
    display: flex;
    flex-direction: row;
    font-weight: bold;

}


.box_p2 .title_friends
{
    padding-top: 1%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align:  center;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
}

.message-btn_1
{
    width: 110px;
    height: 18px;
    background: none;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
}

.message-btn_1
{
    background-color: #453827; 
}

/* los and winn */

.chart-container_1 {

    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.charts {

    /* width: 150px;
    height: 150px; */

    width: 50%;
    height: 70%;
    justify-content: center;
    
    background: conic-gradient(#3992A5 0% var(--per), #453827 var(--per) 100%);
 
    border-radius: 50%;
    position: relative;
}

.charts::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: #252f30;
    border-radius: 50%;
}



.labels_1 {

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-bottom: 5%;
    margin-left: 10%;

    /* position: absolute;
    top: 0;
    right: 0; */
}

.lab {
    
    display: flex;
    align-items: center;
    color:white;
    width: 20%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    
    
}

.lab-colorr {

    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 3px;
 
}

.lab-colorr.losss {
    background-color: #453827;
}

.lab.lab-colorr .losss
{
    align-content: space-between;
    margin-left: 90px;
    margin-top: 20%;
}

.lab-colorr.winn{
    background-color: #3992A5;
}

.percentagee_loss
{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, 30%);
    background: white;
    width: 15%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    padding: 5%;
    /* z-index: 1; */
}

.percentagee_winn   
{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, 30%);
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 5%;
    width: 15%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    /* z-index: 1; */
}

.mtch1
{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 260px;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
    
}

.list_hostory
{
    padding: 0 5%; /* padding l child -> left and right*/
}

.matches2
{
    margin-top: 10px;
    margin-left: 40px;
}


.mtch1 .matches2
{
    margin-top: 20px;
}

.mtch1 .matches2 .matches-plyes_1
{
    width: 70%;
    height: 19%;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));

}

.mtch1 .matches-plyes_1
{
    padding: 30px 29px 30px 15px;
     /* margin-top: 16px; */
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 29px; 
    text-align: center;
}

.m1_1
{
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    text-align: center;
}


.matches-plyes_1 .m2_2
{
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}


/* metch_history */
.hidden-scrollbar 
{
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.list_ho{

    /* justify-content: space-around; */
    overflow: auto;
    width: 100%;
    height: 100%;
    max-height: 260px;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
    padding: 10px 0px;
    box-sizing: border-box; 
}

.list_hostory .title_host
{
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    text-align: center;
    
    margin-top: 1px;
}

.list_hostory
{
   text-align: center;
   margin-top: 1px;
}

.list_hostory  .progress_3
{
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: #453827;
    border-radius: 4px;
}
.history_1
{
    margin-top: 5px;
}
.progress_3::before
{
    content: "";
    display: block;
    width: 50%; 
    height: 100%;
    background-color: #453827;
}


.history_1 .img_vs1
{
    width: 50px; 
    height: 50px;
    border-radius: 15px;
    margin-top: 0px;
    
}

.history_1 .img_valide
{
    width: 30px;
    height: 30px;
}

.history_1 .img_close
{
    width: 25px;
    height: 28px;
}


.history_1 .vs
{
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
}

.opp_user
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

}

.history_1 .opp_win
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

    text-align: center;
}

.history_1 .opp_loss
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.history_1 .date
{
    color: #3992A5;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
}


.list_hostory .history_1{
    
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 50px 50px 1fr minmax(auto, 1fr) auto;
    column-gap: 3%;
    width: 100%;
}


.history_1 .vs
{
    grid-row: 1/2;
    grid-column: 1/2;

}

.history_1 .img_vs1
{
    grid-row: 1/2;
    grid-column: 2/3;
}

.history_1 .opp_user
{
    grid-column: 3/4;
}

.history_1 .img_valide
{
    grid-row: 1/2;
    grid-column: 4/5;
}

.history_1 .opp_win
{
    grid-row: 1/2;
    grid-column: 4/5;
}


.history_1 .date
{
    grid-row: 1/2;
    grid-column: 5/6;

}


.history_1 .img_close
{
    grid-row: 1/2;
    grid-column: 4/5;


}

.history_1 .opp_loss
{
    grid-row: 1/2;
    grid-column: 4/5;
}



.history_1 > * {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    /* vertical-align: text-bottom; */
}
