

/*  



.sidebar {

    width: 80px;
    height: 100%;
    left: 0px;
    margin-bottom: 0%;
 
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebar .menu ul {
    padding: 0px;
    margin: 20px 0;
}

.sidebar .menu ul li {
    margin: 0px 0px 0px 0px;
  
}

.sidebar .menu ul li a  {
    padding: 20px;
    display: block;
}

.sidebar .menu ul li a img {
    width: 30px;
    display: block;
}

.sidebar .menu  a::after {
    content: '';
    height: 5px;
    background-color: transparent;
    border-radius: 10px;
    width: 30px;
    display: block;
}

.sidebar .menu  a:hover::after, .sidebar .menu  a.active::after {
    background-color:#3992A5;
}



/*  


.sidebar {

    width: 80px;
    height: 100%;
    left: 0px;
    margin-bottom: 0%;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* 
.sidebar .menu ul {
    padding: 0px;
    margin: 20px 0;
}

.sidebar .menu ul li {
    margin: 0px 0px 0px 0px;
  
}

.sidebar .menu ul li a img {
    width: 30px;
    padding: 20px; 
}
 */

 


.stats h1
{
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
   font-size: 30px;
   text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
}

.stats-view
{
  
    display: flex;
    justify-content:center;

    margin-bottom: 2%;
   /*justify-content: space-around;*/
}

.stat3 
{
    display: flex;
    flex-direction: column;


}
.stat2 
{
    display: flex;
    flex-direction: column;

}
.stat1
{
    display: flex;
    flex-direction: column;

}


.stat1 .number 
{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;

}

.number
{
    text-align: center;
}

.stat2
{
    margin-left: 120px;
    margin-right: 120px;
}

.stat2 .number 
{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #0f1a1c;
    margin-left: 40px;
    margin-right: 40px;
}

.stat3 .number 
{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    margin-left: 40px;
    margin-right: 40px;

}

.stat1 .total
{
   
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #3992A5;
    text-align: center;
}

.total
{
    margin-left: 1px;
}
.stat2 .total
{
   
    color: white;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #3992A5;
    font-size: 29px;
    font-weight: 700;
   

}

.stat3 .total
{
   
    color: #3992A5;
    font-size: 29px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;

}

.head
{   
    width: 80%;
    height: 5%;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);

   /* background: linear-gradient(to right, #509cb3, #446870);
   background: linear-gradient(to right, rgba(139, 174, 182, 1), rgba(24, 27, 28, 1));
   
   background: linear-gradient(to right, #181B1C 50%, #446870 50%);

   background: linear-gradient(to right, #181B1C 25%, #446870 25%, #446870 75%, #8BAEB6 75%);
   background: linear-gradient(to right, #181B1C, #446870)

    background: linear-gradient(to right, rgba(24, 27, 28, 1), rgba(68, 104, 112, 0));
   
  
-----------
      background: linear-gradient(to right, rgba(24, 27, 28, 1), rgba(68, 104, 112, 0));
      background: linear-gradient(to right, rgba(24, 27, 28, 0.4), rgba(68, 104, 112, 0));
------------


-->
one 
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));

-->
   */

   background: linear-gradient(to bottom right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
}

.body-home .content .header
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap :2%;
    margin: 0% 2%;
}

.img_prof {
    position: relative;
}

.header .img_prof .online-status
 {

    width: 25px;
    height: 25px;
    background-color:#37C25E; 
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
}

.head .actions 
{
    display: flex;
    align-items: center;
    justify-content: end;
}


.meg,
.play {
 
    background: none;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}

/* hover button */

.meg:hover {
    background: #34291c;
}

.message-btn:hover {
    background: #34291c;
}

.meg {

    background-color: #453827 ; 

}

.play {
    background-color: #3992A5;
}

.play:hover {
    background: #07414e;
}

.add-friend-btn:hover
{
    background: #07414e;
}

/* fin hover button  */

/* ranking */

.box .ranking .rank
{
    
    justify-content: center;
    width: 90%;
    height: 50%;
    padding: 10px;
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));

}

.rank
{
    /* margin-right: 20px; */
    display: flex;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    /* margin-left: 50px; */
}


.rank1
{
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    text-align: center;
}

.rank
{
    padding-top: 100%;
}
.rank .r1
{
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}


.ranking {

    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    /* margin-top: 10px; */
    margin-left: 3%;
}

.ranking .rank
{
  padding: 80px 29px 40px 15px;
   /* margin-top: 16px; */
   /* margin-bottom: 16px;
   margin-left: 30px;
   margin-right: 29px;  */
   
}

/* fin ranking */


/* mtch =>chart-container*/
.mtch .matches 
{
    margin-top: 20px;
}

.mtch .matches .matches-plyes
{
    width: 70%;
    height: 19%;

    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));

}


.mtch .matches-plyes
{
    padding: 30px 29px 30px 15px;
     /* margin-top: 16px; */
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 29px; 
    text-align: center;
}

.m1
{
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5;
    text-align: center;
}


.matches-plyes .m2
{
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

/* fin mutch */

.legend h1
{
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    grid-column: 1 / 1;
}


.leadebord 
{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    gap: 1px;
    overflow: auto;
    margin-left: 3%;
    /* border: solid #37C25E; */
}



.leader 
{

    display: grid;
    grid-template-columns: 50px 50px minmax(70px, 1fr) auto;
    grid-template-rows: 25px 25px;
    column-gap: 10px;
    /* border: solid #37C25E; */


   /* display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    */
}

.leader h1,
.leader img,
.leader .add-friend-btn {
    display:  flex;
    align-items: center;
    justify-content: center;
}

.leader .leader-name,
.leader .leader-username {
    display:  flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.leader h1 {
    grid-row-start: 1;
    grid-row-end: -1;
    display:  flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.leader img {
    grid-row-start: 1;
    grid-row-end: -1;
}

.leader .leader-name {
    align-items: center;
    grid-row-start: 1;
}

.leader .leader-username {
    align-items: flex-start;
    grid-row-start: 2;
}

.leader .add-friend-btn {
    grid-row-start: 1;
    grid-row-end: -1;
}

/* */
.leader .img_leader
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
    /* margin-right: 20px; */

}

.leader-name
{

    color: white;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    /* margin-bottom: 5px; */
}

.leader-username
{
   
    color: #828282;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    /* margin-bottom: 10px; */
}


.add-friend-btn
{
   
   width: 110px;
    height: 18px;
    background: none;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-friend-btn {

    background-color: #3992A5;
}

.message-btn
{
    width: 110px;
    height: 18px;
    background: none;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 19px;
    padding-right: 19px;
}

.message-btn
{

    background-color: #453827; 

}

.head {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    padding-left: 5%;
    padding-right: 5%;

}

.head .profile 
{
    width: calc(100% - 280px);
}

.img_prof .prof
{
    width: 160px;
    height: 128px;

    border-radius: 15px;
    margin-top: 0px;
    
}

.head .profile h2
{
   /* margin-left: 40px; */
   
   color: white;
   font-family: "Roboto", sans-serif;
   font-size: 30px;
   text-shadow: 
    1px 1px 0 #3992A5, 
    -1px -1px 0 #3992A5, 
    1px -1px 0 #3992A5, 
    -1px 1px 0 #3992A5;
    -webkit-text-stroke: 0px #3992A5; 
    margin-bottom: 10px;
}

/* jjj */

.body-home .sidebar .content
{
    margin-top: 0%;
}

.body-home .content .header
{
    margin-top: 19px;
}


.progress
{
    width: 50%;
    height: 4px;
    background-color: #453827;
    border-radius: 4px;
    position: relative;

}


.progress::before
{
    content: "";
    display: block;
    width: 50%; 
    height: 100%;
    background-color: #3992A5;
}


.xp
{

    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
 
    position: absolute;
    top:0;
    left: 0;
    translate: 0 -100%;
   
}

.matches
{
    margin-top: 10px;
    margin-left: 40px;
}

.level {

    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top:0;
    right: 0;
    translate: 0 -100%;
}

.body-home
{
    margin-bottom:70%;
}

.p1
{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}


/*
    .leader .add-friend-btn
    {
        background-color: #3992A5;
    
        border-radius: 1px;
        font-family: "Roboto", sans-serif;
    
        padding-right: 30px;
    }
*/


.box
{
 
    
    display: flex;
    justify-content: space-around;
    /* margin: 20px; */
    /* margin: 10px; */
    width: 97%;
    height: 100%;
    /* margin-right: 2px; */
    /* margin: 0px 3%; */
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
    padding: 20px 10px;
    box-sizing: border-box;

}


.mtch
{
    /* margin: 20px; */
    /* margin: 10px; */
    /* margin-top: 2%; */
    display: flex;
    width: 93%;
    height: 100%;
    margin-left: 30px;
    /* margin: 0px 3%; */
    backdrop-filter: blur(10px);
    background: rgba(109, 96, 96, 0.1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 1px 1px rgb(235, 239, 243, 50%);
    background: linear-gradient(to right, rgba(24, 27, 28, 0.6), rgba(68, 104, 112, 0.5));
}

/* los win chart-container*/


.chart-container {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chart {
    /* width: 150px;
    height: 150px; */

    width: 50%;
    height: 70%;
    justify-content: center;
    background: conic-gradient(#3992A5 0% var(--per), #453827 var(--per) 100%);
    border-radius: 50%;
    position: relative;
}


.chart::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: #252f30;
    border-radius: 50%;
}

.labels {
    width: 100%;
    display: flex;
    
    justify-content: center;
    gap: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    /* position: absolute;
    top: 0;
    right: 0; */
}

.label {
    
    display: flex;
    align-items: center;
    /* font-size: 14px; */
    color: hsl(0, 0%, 100%);
    width: 20%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    
    
}

.label-color {

    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 3px;
 
}

.label-color.loss {
    background-color: #453827;
    
}

.label .label-color .loss
{
    align-content: space-between;
    margin-left: 90px;
    margin-top: 20%;
}


.label-color.win {
    background-color: #3992A5;
}

.percentage.loss
{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, 30%);
    background: white;
    width: 15%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    padding: 5%;
}


.percentage.win
{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, 30%);
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 5%;
    width: 15%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;


}


/* fin =>chart-container */