{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="container">
        <img src="{% static 'images/logo.png' %}" class="logo">
        
        <form class="signup-box" action="" method="POST">
            
            <!-- Added to show Error Messages -->
            <div>
                {% for message in messages %}
                <h5 color="red">{{message}}</h5>
                {% endfor %}
            </div>
            
            {% csrf_token %}
            <div class="log">
                <h3 class="l1">Signup</h3>
                <h6 class="l2">Just some details to get you in ...</h6>
            </div>
            <input type="text" placeholder="Username" id="username" name="username">
            <input type="email" placeholder="Email" id="username" name="email">
            <input type="password" placeholder="Password" id="password" name="password">
            <input type="password" placeholder="Confirm password" id="password"name="confirm_pass">
            <button id="rightside" type="submit">Signup</button>
            <p class="login">Already registered? <a href="login">Login</a></p>
        </form>
    </div>
</body>
</html>